#about_wrap{
	position: relative;
	height:600px ;
}
#about_middle{
	background: url(../img/About/world_map.png) center center no-repeat;
	background-color: gainsboro;
	position: absolute;
	left: 0;
	right: 0;
}
.about_txt{
	width: 100%;
	height: 400px;
	margin-right: 20px;
}
.about_img{
	float: left;
    height: 100px;
}
.about_img>img{
	margin-right: 50px;
}
h3{
	margin-top: 80px;
	margin-bottom: 20px;
	font-size: 1.8m;
	font-weight: lighter;
}
p{
	font: normal 16px/30px arial;
	color: black;
	width: 400px;
	height: 160px;
	text-indent: 2em;
	margin-left: 100px;
}
